<div class="container">
    <h1>PRODUKTY</h1>
    <div class="content">
        <div class="filters">
            <div class="types">
                <h6>Typ</h6>
                <label><input type="checkbox" (change)="onTypeChange($event, 'FRUITS')"> Owoce</label>
                <label><input type="checkbox" (change)="onTypeChange($event, 'VEGETABLE')"> Warzywa</label>
                <label><input type="checkbox" (change)="onTypeChange($event, 'BEEF')"> Wołowina</label>
                <label><input type="checkbox" (change)="onTypeChange($event, 'MEAT')"> Wieprzowina</label>
                <label><input type="checkbox" (change)="onTypeChange($event, 'DAIRY')"> Mleko i przetwory</label>
                <label><input type="checkbox" (change)="onTypeChange($event, 'CEREALS')"> Zboża</label>
            </div>
            <div class="categories">
                <h6>Kategorie</h6>
                <label><input type="checkbox" value="kategoriaA"> Kategoria A</label>
                <label><input type="checkbox" value="kategoriaB"> Kategoria B</label>
            </div>
        </div>
        <div class="products">
            <div class="product-item" *ngFor="let product of displayedProducts">
                <h5>{{ product.name }}</h5>
                <p>{{ product.desc }}</p>
                <p>Cena: {{ product.price }}</p>
                <p>Typ: {{ product.type }}</p>
                <p>Kategoria: {{ product.category }}</p>
                <p>Jednostka: {{ product.unit }}</p>
            </div>
        </div>
    </div>
</div>