<!-- <nav class="navbar navbar-expand navbar-dark" style="background-color: #46AA42;">
  <span class="navbar-brand">
    <img src="assets/images/logo-main.png" alt="Logo" width="42" height="42">
    EcoBazarek
  </span>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-link mx-3" routerLink="/home">Home</a>
      <a class="nav-link mx-3" routerLink="o-nas">O nas</a>
      <a class="nav-link mx-3" href="#">Produkty</a>
      <a class="nav-link mx-3" href="#">Kontakt</a>
    </div>
  </div>
  <div class="navbar-nav">
    <i class="fa fa-magnifying-glass icon-style"></i>
    <i class="fa-regular fa-star icon-style"></i>
    <i class="fa-regular fa-user icon-style"></i>
  </div>
</nav> -->